.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.barChart {
  border-radius: 8px !important;
  padding: 20px;
}

.bar {
 
  

  border-radius: 0 20px 20px 0; /* Rounded corners for bars */

}

.barChart .recharts-bar-rectangle {
  border-radius: 8px; /* Further round the bar corners */
}

.xAxis,
.yAxis {
  font-size: 15px;
  color: #333; /* Darker font for axis labels */
}

.yAxis text {
  fill: #000000;
}

